@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #070911;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* This won't be included in your compiled CSS unless you actually use it */
.section {
  padding: 35px 0;
}

.service,
.our-work,
.our-customer,
.approach,
.career {
  display: none;
}

.load-lazy {
  min-height: 500px;
}

.load-lazy.active {
  min-height: unset;
}

.load-lazy.active .service,
.load-lazy.active .our-work,
.load-lazy.active .our-customer,
.load-lazy.active .approach,
.load-lazy.active .career {
  display: block;
}
